

<hr>

<div class="container" id="print-me">
    {{ TransArray.transid }}
    <table bgcolor="#ffe680" class="table table-bordered">
        <thead>
            <th>Transaction ID</th> <th>Cost</th> <th>Date of Payment</th> <th>Cancellation Status</th> <th>Bus Id</th> <th>Schedule Id</th>
        </thead>
        <tbody>
                <tr *ngFor="let s of TransArray;let i = index">
                        <td>{{ s.trans_id}}</td>
                        <td>{{ TransArray[i].total_cost}}</td>
                        <td>{{ TransArray[i].dateOfBooking}}</td>
                        <td>{{ TransArray[i].cancelled_status}}</td>
                        <td>{{ TransArray[i].bus_id.busid}}</td>
                        <td>{{ TransArray[i].schedule.schedule_id}}</td>

                </tr>
        </tbody>
    </table>
    <button class="btn btn-success" printSectionId="print-me" ngxPrint> Print All your Transactions </button>
</div>
