<table>
  <tr>
    <td> <label for="busid">BUS ID</label></td>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <td><input type="text" class="form-control" id="busid" name="busid" placeholder="Enter Bus id" [(ngModel)]="busid" required></td>
</tr>
</table>
<form #scheduleform="ngForm" (ngSubmit)="saveSchedule(scheduleform)" novalidate>
    <table>
        <tr>
      <td><label for="schedule_id">Schedule Id</label></td>
      <td><input type="text" class="form-control" id="schedule_id"  name="schedule_id" placeholder="Enter Schedule ID" [(ngModel)]="schedule_id" required> </td>
    </tr>
    <!--
    <tr>
        <td> <label for="busid">BUS ID</label></td>
      <td><input type="text" class="form-control" id="busid" name="busid" placeholder="Enter Bus id" [(ngModel)]="busid" required></td>
    </tr>
    -->
    <tr>
        <td><label for="Date">Date</label></td>
        <td><input type="date" class="form-control" id="date_Of_Jrny" name="date_Of_Jrny" [(ngModel)]="date_Of_Jrny" requird></td>
    </tr>
    <tr>
        <td></td>
    <td><button type="submit" class="btn btn-outline-dark-sm" [disabled]="!scheduleform.valid" >Submit</button></td>
</tr>
</table>
  </form>