
<h1 align="center" style="color: crimson;">You are an UNREGISTERED USER</h1>
<h3 align="center">Please Enter Your Details</h3>
<table align="center">
    <tr>
        <td>NAME:</td>
        <td><input type="text" value="enter your naame" [(ngModel)]="name"> </td>
    </tr>
    <tr>
        <td>Email:</td>
        <td><input type="email" [(ngModel)]="email" value="enter your email"></td>
    </tr>
    <tr>
        <td></td>
        <td><button type="submit" (click)=submit() class="btn btn-outline-danger my-2 my-sm-0" >Submit</button> </td>
    </tr>
</table>

