<div class="container-fluid">
  <nav class="navbar navbar-light bg-light justify-content-between">
    <h1 class="navbar-brand">Welcome {{data}} </h1>
    <form class="form-inline">
      <button class="btn btn-outline-warning my-2 my-sm-0" type="submit" (click)="gotoCheckBusses()" >Check Busses</button>
      <!--this.router.navigate(['dashboard',this.id.reguserid,this.id.regusername]);-->&nbsp;
      <button class="btn btn-outline-danger my-2 my-sm-0" type="submit" (click)="gotodashboard()">LOGOUT</button>
    </form>
  </nav>
      <div class="row">
      <div class="col-3">
        <table>
          <hr>
          <tr><button class="btn btn-primary custom" (click)="togglebtn = '1'"> Your Previous Bookings </button></tr>
          <hr>
          <tr><button class="btn btn-primary custom" (click)="togglebtn = '2'"> Change Password </button></tr>
          <hr>
          <tr><button class="btn btn-primary custom" (click)="togglebtn = '3'"> Your Profile </button></tr>
          <hr>
          <!--<tr><button class="btn btn-primary custom" routerLink="wallet"> Wallet </button></tr>
          
          
        
        -->
      </table>
      </div>
      <div class="col-9" [ngSwitch]="togglebtn">
        <div *ngSwitchCase="'1'" (ngSubmit)=gototrans()><app-bookings></app-bookings></div>
        <div *ngSwitchCase="'2'" (ngSubmit)=gotochngpswd()><app-chngpswd></app-chngpswd></div>
        <div *ngSwitchCase="'3'" (ngSubmit)=gotoprofile()><app-profile></app-profile></div>
    </div>
  </div>