<nav class="navbar navbar-light bg-light justify-content-between">
  <h1 class="navbar-brand"> <p style="color: rgb(255, 255, 251);">Welcome Our Bus Booking Website.</p></h1>
<form class="form-inline">
  <button class="btn btn-warning my-2 my-sm-0" type="submit" (click)="gotologin()">LOGIN</button>
  <!--this.router.navigate(['dashboard',this.id.reguserid,this.id.regusername]);-->&nbsp;
  <button class="btn btn-danger my-2 my-sm-0" type="submit" (click)="gotosignup()">SIGNUP</button>
</form>
</nav>

    <nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <form class="form-inline">
        <div class="form-group">
          <label class="sr-only" for="source"><b>Source</b></label>
          <select class="form-control" name="source" [(ngModel)]="source" required>
            <option *ngFor="let s of sources"> {{s}}
          </option>
          </select>
        </div>
        <div class="form-group">
          <label class="sr-only" for="destination"><b>Destination</b></label>
          <select class="form-control" name="destination" [(ngModel)]="destination" required>
            <option *ngFor="let d of dests"> {{d}}
          </option>
          </select>
        </div>
        <div class="form-group">
          <label class="sr-only" for="exampleInputPasswsord3"> <b>Date</b> </label>
          <input type="date" name="date" class="form-control" [(ngModel)]="dat"  min="2021-10-01" max="2021-10-10" required>
        </div>
    <br>
        <button type="submit" class="btn btn-success" (click)="search()">SEARCH</button>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <!-- <button type="submit" class="btn btn-info" (click)="gotologin()">LOGIN</button>
      <button type="submit" class="btn btn-warning" (click)="gotosignup()">SIGNUP</button> -->
      <button type="submit" class="btn btn-danger" (click)="cancel()">CANCEL TICKET</button>
      </form>
      
    </div>
  </div>
</nav>
<div class="container">
  <table class="table table-bordered"><thead>
    <th>Schedule ID</th><th>Bus ID</th><th>Bus Name</th><th>Source</th><th>Destination</th>
    <th>Cost</th><th>Seats Left</th><th>Check Availability</th></thead>
    <tbody>
      <tr *ngFor="let b of busArray; let i = index">
      <td>{{scheduleArray[i].schedule_id}}</td>
         <td>{{b.busid}}</td>
         <td>{{b.busname}}</td>
         <td>{{b.source}}</td>
         <td>{{b.destination}}</td>
         <td>{{b.cost}}</td>
         <td>{{remainingSeats[i]}}</td>
         <td><a class="btn btn-info" [routerLink]="['/busseat',scheduleArray[i].schedule_id,b.busid]" >Check Availability</a></td>
    </tr>
</tbody>
</table>
<hr>
</div>


